<%= render 'navbar' %>

<div class="container restaurant">
  <div class="row">
    <div class='restaurant_card'>
      <div class="col-xs-12 text-center">
          <h2><%= @restaurant.name %></h2>
      </div>
      <div class="col-xs-12">
        <h4>Category:<%= @restaurant.category %></h4>
      </div>
      <div class="col-xs-12">
        <h4>Address:<%= @restaurant.address %></h4>
      </div>
      <div class="col-xs-12">
        <h4>Phone number:<%= @restaurant.phone_number %></h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8-offset-2 text-center">
    <%= link_to 'Add a new review', new_restaurant_review_path(@restaurant), class:'btn navbar-wagon-button' %>
    </div>
    <div class="col-xs-12 col-sm-8-offset-2 text-center">
      <h2 class='review2'>Reviews</h2>
      <% @restaurant.reviews.each do |review| %>
        <div class= "col-xs-6">
          <h4 class='review'><%= review.content %></h4>
        </div>
        <div class= "col-xs-6">
          <h4 class='review'><%= review.rating %></h4>
        </div>
        <div class="col-xs-12">
          <hr class='br'>
        </div>
      <% end %>
    </div>
  </div>
</div>
